<h1>Edit Subcategory</h1>
<%=render 'form'%>
<p><%= link_to 'Destroy', category_subcategory_path(@category, @subcategory),
            data: {confirm: 'Are you sure?'}, method: :delete %></p>
<p><%=link_to "Back", category_subcategory_path(@category, @subcategory)%></p>
