<h1>Edit Subcategory</h1>
<%=form_for @subcategory do |f|%>
  <%render partial: 'form', locals: {f: f}%>
<%end%>
<p><%= link_to 'Destroy', subcategory_path(@subcategory),
            data: {confirm: 'Are you sure?'}, method: :delete %></p>
<p><%=link_to "Back", subcategory_path(@subcategory)%></p>
