<%if current_user.username%>
  <h1>Hi, <%=current_user.username%></h1>
<%else%>
  <h1>Hi, <%=current_user.email%></h1>
<%end%>
<%=@user.role%><br>
<h2>Info:</h2>
<%if @quizzes != nil && @last_quiz != nil%>
  <%=render 'quiz'%>
<%else%>
  <h2>Take your first quiz/test to get started!</h2>
<%end%>
