<h1>Edit Concept</h1>
<%=render 'form'%>
<p><%= link_to 'Destroy', category_subcategory_concept_path(@category, @subcategory, @concept),
            data: {confirm: 'Are you sure?'}, method: :delete %></p>
<%=link_to "back", category_subcategory_path(@category, @subcategory)%>
