<h1>Edit Concept</h1>
<%=form_for @concept do |f|%>
  <%render partial: 'form', locals: {f: f}%>
<%end%>
<p><%=link_to 'Destroy', concept_path(@concept),
            data: {confirm: 'Are you sure?'}, method: :delete%></p>
<%=link_to "back", subcategory_path(@concept.subcategory)%>
